.testimony {
  /* width: 20%; */
  border: 0.5pt dotted black;
  display: inline-block;
  margin: 0em;
  padding: 1em;
  height: 270px;
  vertical-align: top;
}

.slider {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

.column {
  float: left;
  width: 33.33%;
  text-align: justify;
}

.column h2{
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column p,ul{
  padding:5px;
  margin:40px;
}

.Content
{
  height:224px;
   overflow:auto;
    background:#fff;
}

h4{
  display: none;
}

#buscador,#boton{
  background-color: #c49b63;
}
